.page_title{
margin: 50px;
text-align: center;
}

.parent {
	margin-top: 20px;
	margin-left: 100px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	}
@media(max-width:768px){
	.parent{
		grid-template-columns: repeat(2,1fr);
	}
}
@media(max-width:480px){
	.parent{
		grid-template-columns: repeat(1,1fr);
	}
}

.hass{
	width: 150px;
	height: 150px;
}

.season {  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "PRX-RACE"
	  "CAMP";
}
  
.PRX-RACE {  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "CIRCUITO DATOS"; 
	grid-area: PRX-RACE;
}
  
.CIRCUITO { grid-area: CIRCUITO; }
  
.DATOS { grid-area: DATOS; }
  
.CAMP {  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "PILOTOS CONTRUCTORES";
	grid-area: CAMP;
}
  
.PILOTOS { 
	grid-area: PILOTOS;
	margin: 30px;

}
  
.CONTRUCTORES { 
	grid-area: CONTRUCTORES; 
	margin: 30px;
}
 
table{
	width: 100%;
	tr{
		height: 40px;
	}
	th {
		text-align: left;
	}
}

.camp{
	text-align: center;
}
.figura{
	margin-top: 100px;
	width: 100%;
}

@media(max-width: 768px) {
	.season {
	  grid-template-areas:
		"PRX-RACE"
		"CAMP";
	}
	.PRX-RACE {
	  grid-template-columns: 1fr;
	  grid-template-areas:
		"CIRCUITO"
		"DATOS";
	}
	.CAMP {
	  grid-template-columns: 1fr;
	  grid-template-areas:
		"PILOTOS"
		"CONTRUCTORES";
	}
	.PILOTOS,
	.CONTRUCTORES {
	  margin: 0;
	}
  }

  .inicio {  
	display: grid;
	grid-template-columns: 0.9fr 2.1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "raceweek circuito" "ubicacion circuito" "info circuito";
	height: 900px;
  }
  
 .raceweek { 
	grid-area: raceweek; 
	font-size: 50px;
	background-color: #eb2f06;
	width: 100%;
 
 }
  
 .ubicacion {
	 grid-area: ubicacion; 
	 width: 100%;
	 height: 350px;
 }
 
 .ubi{
	width: 100%;
	height: 350px;
 }
 
 .info { 
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "tiempo hora";
	grid-area: info;
	height: 200px;
  }
  
 .tiempo {
	grid-area: tiempo; 
	font-size: 20px;
	height: 200px;	
}
  
 .hora { 
	grid-area: hora;
	font-size: 20px;
	height: 200px;
 }
  
 .circuito {
	 grid-area: circuito;
	 height: 900px;
 }
 
 .circuito-{ 
	width: 100%;
	height: 900px;
 }

 @media(max-width: 768px) {
	.inicio {
	  grid-template-columns: 1fr;
	  grid-template-rows: auto;
	  grid-template-areas:
		"raceweek"
		"ubicacion"
		"info"
		"circuito";
	  height: auto;
	}
  
	.info {
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 1fr;
	  grid-template-areas:
		"tiempo"
		"hora";
	}
  
	.tiempo,
	.hora {
	  height: auto;
	  font-size: auto;
	}
  
	.ubicacion,
	.circuito {
	  height: auto;
	}

	.ubi,
	.circuito- {
	  width: 100%;
	  height: auto;
	}
  }
 